<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <!-- 先定义 MathJax 配置 -->
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']],
        processEscapes: true  // 添加此选项以支持 \$ 转义
      },
      options: {
        skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']  // 忽略可能冲突的 HTML 标签
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <!-- 再加载 MathJax 脚本 -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
